<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-study-materials-heading">Create or edit a Study Materials</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_folderName">Folder Name</label>
                    <input type="text" class="form-control" name="folderName" id="field_folderName"
                           formControlName="folderName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_folderDescription">Folder Description</label>
                    <input type="text" class="form-control" name="folderDescription" id="field_folderDescription"
                           formControlName="folderDescription"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_foldertype">Foldertype</label>
                    <select class="form-control" name="foldertype" formControlName="foldertype" id="field_foldertype">
                        <option value="VIDEOS">VIDEOS</option>
                        <option value="ASSIGNMENTS">ASSIGNMENTS</option>
                        <option value="OTHERS">OTHERS</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="field_videoLinks">Video Link</label>
                    <select class="form-control" id="field_videoLinks" multiple name="videoLinks" formControlName="videoLinks">
                        <option [ngValue]="getSelected(editForm.get('videoLinks')!.value, videoLinkOption)" *ngFor="let videoLinkOption of videolinks; trackBy: trackById">{{ videoLinkOption.linkName }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
