<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="assignmentQA">
            <h2><span>Assignment QA</span> {{ assignmentQA.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Question</span></dt>
                <dd>
                    <span>{{ assignmentQA.question }}</span>
                </dd>
                <dt><span>Answer</span></dt>
                <dd>
                    <span>{{ assignmentQA.answer }}</span>
                </dd>
                <dt><span>Assignment Number</span></dt>
                <dd>
                    <span>{{ assignmentQA.assignmentNumber }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/assignment-qa', assignmentQA.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
