<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="guest">
            <h2><span>Guest</span> {{ guest.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ guest.name }}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{ guest.email }}</span>
                </dd>
                <dt><span>Mobilenumber</span></dt>
                <dd>
                    <span>{{ guest.mobilenumber }}</span>
                </dd>
                <dt><span>Subject</span></dt>
                <dd>
                    <span>{{ guest.subject }}</span>
                </dd>
                <dt><span>Message</span></dt>
                <dd>
                    <span>{{ guest.message }}</span>
                </dd>
                <dt><span>Reply</span></dt>
                <dd>
                    <span>{{ guest.reply }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/guest', guest.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
