<div>
    <h2 id="page-heading">
        <span>Guests</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-guest" [routerLink]="['/guest/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Guest
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="guests?.length === 0">
        <span>No guests found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="guests && guests.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span>Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span>Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mobilenumber"><span>Mobilenumber</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="subject"><span>Subject</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="message"><span>Message</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="reply"><span>Reply</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let guest of guests ;trackBy: trackId">
                    <td><a [routerLink]="['/guest', guest.id, 'view']">{{ guest.id }}</a></td>
                    <td>{{ guest.name }}</td>
                    <td>{{ guest.email }}</td>
                    <td>{{ guest.mobilenumber }}</td>
                    <td>{{ guest.subject }}</td>
                    <td>{{ guest.message }}</td>
                    <td>{{ guest.reply }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/guest', guest.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/guest', guest.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(guest)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
