<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="createToStudyMaterial()" [formGroup]="editForm">
            <h2 id="jhi-video-link-heading">Create or edit a Video Link</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EMPLOYEE']" class="form-group">
                    <label class="form-control-label" for="field_classlink">Classlink</label>
                    <input type="text" class="form-control" name="classlink" id="field_classlink"
                           formControlName="classlink"/>
                    <div *ngIf="editForm.get('classlink')!.invalid && (editForm.get('classlink')!.dirty || editForm.get('classlink')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('classlink')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EMPLOYEE']" class="form-group">
                    <label class="form-control-label" for="field_linkName">Link Name</label>
                    <input type="text" class="form-control" name="linkName" id="field_linkName"
                           formControlName="linkName"/>
                </div>

                <div *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EMPLOYEE']" class="form-group">
                    <label class="form-control-label" for="field_linkDescription">Link Description</label>
                    <input type="text" class="form-control" name="linkDescription" id="field_linkDescription"
                           formControlName="linkDescription"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_submitLink">Submit Link</label>
                    <input type="text" class="form-control" name="submitLink" id="field_submitLink"
                           formControlName="submitLink"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
