<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="myVideos">
            <h2><span>My Videos</span> {{ myVideos.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Video Link</span></dt>
                <dd>
                    <span>{{ myVideos.videoLink }}</span>
                </dd>
                <dt><span>Conceptname</span></dt>
                <dd>
                    <span>{{ myVideos.conceptname }}</span>
                </dd>
                <dt><span>Schedule Time</span></dt>
                <dd>
                    <span>{{ myVideos.scheduleTime }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/my-videos', myVideos.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
