<div>
    <h2 id="page-heading">
        <span>My Videos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-my-videos" [routerLink]="['/my-videos/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new My Videos
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="myVideos?.length === 0">
        <span>No myVideos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="myVideos && myVideos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Video Link</span></th>
                    <th scope="col" ><span>Conceptname</span></th>
                    <th scope="col" ><span>Schedule Time</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let myVideos of myVideos ;trackBy: trackId">
                    <td><a [routerLink]="['/my-videos', myVideos.id, 'view']">{{ myVideos.id }}</a></td>
                    <td>{{ myVideos.videoLink }}</td>
                    <td>{{ myVideos.conceptname }}</td>
                    <td>{{ myVideos.scheduleTime | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/my-videos', myVideos.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/my-videos', myVideos.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(myVideos)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
