<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="assignment">
            <h2><span>Assignment</span> {{ assignment.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Subject</span></dt>
                <dd>
                    <span>{{ assignment.subject }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ assignment.description }}</span>
                </dd>
                <dt><span>Studentloginname</span></dt>
                <dd>
                    <span>{{ assignment.studentloginname }}</span>
                </dd>
                <dt><span>Employeeloginname</span></dt>
                <dd>
                    <span>{{ assignment.employeeloginname }}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{ assignment.status }}</span>
                </dd>
                <dt><span>Submitdate</span></dt>
                <dd>
                    <span>{{ assignment.submitdate }}</span>
                </dd>
                <dt><span>Marks</span></dt>
                <dd>
                    <span>{{ assignment.marks }}</span>
                </dd>
                <dt><span>Remarks</span></dt>
                <dd>
                    <span>{{ assignment.remarks }}</span>
                </dd>
                <dt><span>Asgnstatus</span></dt>
                <dd>
                    <span>{{ assignment.asgnstatus }}</span>
                </dd>
                <dt><span>Assignmentlink</span></dt>
                <dd>
                    <span>{{ assignment.assignmentlink }}</span>
                </dd>
                <dt><span>Submitlink</span></dt>
                <dd>
                    <span>{{ assignment.submitlink }}</span>
                </dd>
                <dt><span>Assignmentpdf</span></dt>
                <dd>
                    <div *ngIf="assignment.assignmentpdf">
                        <a (click)="openFile(assignment.assignmentpdfContentType, assignment.assignmentpdf)">open</a>
                        {{ assignment.assignmentpdfContentType }}, {{ byteSize(assignment.assignmentpdf) }}
                    </div>
                </dd>
                <dt><span>Submitpdf</span></dt>
                <dd>
                    <div *ngIf="assignment.submitpdf">
                        <a (click)="openFile(assignment.submitpdfContentType, assignment.submitpdf)">open</a>
                        {{ assignment.submitpdfContentType }}, {{ byteSize(assignment.submitpdf) }}
                    </div>
                </dd>
                <dt><span>Assignment Number</span></dt>
                <dd>
                    <span>{{ assignment.assignmentNumber }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/assignment', assignment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
