<!--Intro Section-->
<div class="view intro-2">
    <div class="full-bg-img mask rgba-stylish-strong">
        <div class="container flex-center">
            <div class="d-flex align-items-center w-100">
                <div class="row flex-center pt-5 mt-3 w-100">
                    <div class="col-md-6 text-center text-md-left mb-5">
                        <div class="white-text">
                            <h1 class="display-4 wow fadeInLeft" data-wow-delay="0.3s">E UPADHYAY One to One Classes
                            </h1>
                            <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                            <h6 class="wow fadeInLeft" data-wow-delay="0.3s">eupadhyay is an e-learning platform for parents/students to find knowledgeable tutors.</h6>
                            <br>
                            <a class="btn peach-gradient wow fadeInLeft waves-light" data-wow-delay="0.3s"
                                mdbWavesEffect href="#about">About Us</a>

                            <button type="submit" (click)="updateGuestQuery()" class="btn peach-gradient wow fadeInLeft waves-light">
                                <span class="d-none d-md-inline">Contact Us</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<!-- Carousel wrapper -->
<div class="row table-row">
    <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
        [animation]="'slide'">
        <mdb-carousel-item *ngFor="let item of slides; let i = index">
            <div class="col-md-4 pb-2" *ngFor="let card of item; let cardIndex = index">
                <mdb-card class="my-1 h-100">
                    <mdb-card-img [src]="card.img" alt="Card image cap"></mdb-card-img>
                    <mdb-card-body>
                        <mdb-card-title>
                            <h4>{{card.title}}</h4>
                        </mdb-card-title>
                        <p>{{card.description}}</p>
                    </mdb-card-body>
                </mdb-card>
            </div>
        </mdb-carousel-item>
    </mdb-carousel>
    <!-- Carousel wrapper -->
</div>

<br>
<br>
<br>
<!-- ABOUT -->

<section id="about" class="light">
    <header class="title">
        <h2 style="text-align:center;">ABOUT <span style="color: rgb(0, 140, 255)">US</span></h2>
        <p style="text-align:center;"> We provide the best features to enable learning and acess the development and performence
            sint <strong>occaecat</strong> cupidatat dolore minim irure cillum.</p>
    </header>

    <div class="row">
        <div class="col-sm-6 hidden-xs">
            <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                <mdb-carousel-item>
                    <img class="d-block w-100" [src]="aboutUs1" alt="First slide">
                </mdb-carousel-item>
                <mdb-carousel-item>
                    <img class="d-block w-100" [src]="aboutUs2" alt="Second slide">
                </mdb-carousel-item>
                <mdb-carousel-item>
                    <img class="d-block w-100" [src]="aboutUs3" alt="Third slide">
                </mdb-carousel-item>
            </mdb-carousel>
            <!-- Carousel wrapper -->

        </div>

        <div class="col-sm-6">
            <div class="section-content">
                <div class="about-content left animated" data-animate="fadeInLeft">
                    <div class="about-icon"></div>
                    <div class="about-detail">
                        <h4 style="text-align:center; color: rgb(0, 140, 255)">
                            Interactive Classes On Zoom
                        </h4>
                        <p>Lorem ipsum Ad nisi dolore ut sit do dolor commodo sint ullamco. Lorem ipsum Magna enim
                            eu irure sit eiusmod fugiat et. Lorem ipsum Consequat in cupidatat cupidatat non in non
                            veniam dolore.</p>
                    </div>
                </div>
                <br>

                <div class="about-content left animated" data-animate="fadeInLeft">
                    <div class="about-icon"></div>
                    <div class="about-detail">
                        <h4 style="text-align:center; color: rgb(0, 140, 255)">
                            Regular Assignments and Grading
                        </h4>
                        <p>We provide Assignments catering to the student needs. With proper assesment.</p>
                    </div>
                </div>
                <br>


                <div class="about-content left animated" data-animate="fadeInLeft">
                    <div class="about-icon"></div>
                    <div class="about-detail">
                        <h4 style="text-align:center; color: rgb(0, 140, 255)">
                            Concept Oriented
                        </h4>
                        <p>Lorem ipsum Ea quis sint sint aliquip qui exercitation commodo non cupidatat do
                            reprehenderit dolor. Lorem ipsum Non et minim incididunt sed labore in amet ea est
                            pariatur.</p>
                    </div>
                </div>
                <br>


                <div class="about-content left animated" data-animate="fadeInLeft">
                    <div class="about-icon"></div>
                    <div class="about-detail">
                        <h4 style="text-align:center; color: rgb(0, 140, 255)">
                            Subject Oriented
                        </h4>
                        <p>Lorem ipsum Ea quis sint sint aliquip qui exercitation commodo non cupidatat do
                            reprehenderit dolor. Lorem ipsum Non et minim incididunt sed labore in amet ea est
                            pariatur.</p>
                    </div>
                </div>

            </div>
        </div>
    </div> <!-- /.row table-row -->
</section>

