<!--Intro Section-->
<div class="view intro-2">
    <div class="full-bg-img mask rgba-stylish-strong">
        <div class="container flex-center">
            <div class="d-flex align-items-center w-100">
                <div class="row flex-center pt-5 mt-3 w-100">
                    <div class="col-md-6 text-center text-md-left mb-5">
                        <div class="white-text">
                            <h1 class="display-4 wow fadeInLeft" data-wow-delay="0.3s">E UPADHYAY One to One Classes
                            </h1>
                            <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                            <h6 class="wow fadeInLeft" data-wow-delay="0.3s">eupadhyay is an e-learning platform for
                                parents/students to find knowledgeable tutors.</h6>
                            <br>
                            <a class="btn peach-gradient wow fadeInLeft waves-light" data-wow-delay="0.3s"
                                mdbWavesEffect href="#about">About Us</a>

                            <a (click)="updateGuestQuery()" class="btn peach-gradient wow fadeInLeft waves-light"
                                data-wow-delay="0.3s" mdbWavesEffect>
                                Contact Us
                            </a>
                            <a *ngIf="!isAuthenticated()" class="btn peach-gradient wow fadeInLeft waves-light"
                                display="dynamic" (click)="register()">
                                <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
                                Register
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<!-- Carousel wrapper -->
<div class="row table-row">
    <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
        [animation]="'slide'">
        <mdb-carousel-item *ngFor="let item of slides; let i = index">
            <div class="col-md-4 pb-2" *ngFor="let card of item; let cardIndex = index">
                <mdb-card class="my-1 h-100">
                    <mdb-card-img [src]="card.img" alt="Card image cap"></mdb-card-img>
                    <mdb-card-body>
                        <mdb-card-title>
                            <h4>{{card.title}}</h4>
                        </mdb-card-title>
                        <!-- <p>{{card.description}}</p> -->
                    </mdb-card-body>
                </mdb-card>
            </div>
        </mdb-carousel-item>
    </mdb-carousel>
    <!-- Carousel wrapper -->
</div>

<br>
<br>
<br>
<!-- ABOUT -->

<section id="about" class="light">
    <header class="title">
        <h2 style="text-align:center;">ABOUT <span style="color: rgb(0, 140, 255)">US</span></h2>
        <p style="text-align:center;">We Provide one to one online classes for grade 5th to grade 12th students.
               At present we are teaching Math's and science and in future we will add more subjects.
               We teach according to the parents/student's requirement.
               For more details contact us at <strong style="color: blue;">hari.reddy@eupadhyay.com</strong></p>
    </header>

    <div class="row">
        <div class="col-sm-6 hidden-xs">
            <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                <mdb-carousel-item>
                    <img class="d-block w-100" [src]="aboutUs1" alt="First slide">
                </mdb-carousel-item>
                <mdb-carousel-item>
                    <img class="d-block w-100" [src]="aboutUs2" alt="Second slide">
                </mdb-carousel-item>
                <mdb-carousel-item>
                    <img class="d-block w-100" [src]="aboutUs3" alt="Third slide">
                </mdb-carousel-item>
            </mdb-carousel>
            <!-- Carousel wrapper -->

        </div>

        <div class="col-sm-6">
            <div class="section-content">
                <div class="about-content left animated" data-animate="fadeInLeft">
                    <div class="about-icon"></div>
                    <div class="about-detail">
                        <h4 style="text-align:center; color: rgb(0, 140, 255)">
                            Interactive Classes On Zoom
                        </h4>
                        <p>online classes will be conducted on zoom platform.
                            Students can interact with the tutor and can ask doubts related to the subject at any point of time.</p>
                    </div>
                </div>
                <br>

                <div class="about-content left animated" data-animate="fadeInLeft">
                    <div class="about-icon"></div>
                    <div class="about-detail">
                        <h4 style="text-align:center; color: rgb(0, 140, 255)">
                            Regular Assignments and Grading
                        </h4>
                        <p>Students will get the homework/Assignment after each class.
                           Doubts/Mistakes in the homework solutions will be discussed in the class.</p>
                    </div>
                </div>
                <br>


                <div class="about-content left animated" data-animate="fadeInLeft">
                    <div class="about-icon"></div>
                    <div class="about-detail">
                        <h4 style="text-align:center; color: rgb(0, 140, 255)">
                            Concept Oriented
                        </h4>
                        <p>The classes will be concept oriented, each and every concept of the topic is explained clearly until student understands and visualize it.</p>
                    </div>
                </div>
                <br>


                <div class="about-content left animated" data-animate="fadeInLeft">
                    <div class="about-icon"></div>
                    <div class="about-detail">
                        <h4 style="text-align:center; color: rgb(0, 140, 255)">
                            Map to School Curriculum
                        </h4>
                        <p>We provide classes mapped to the Students School Curriculum. And classes will be focusd on  understandig the  deep concepts and problem solving skills.</p>
                    </div>
                </div>

            </div>
        </div>
    </div> <!-- /.row table-row -->
</section>