<div>
    <h2 id="page-heading">
        <span>Concepts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-concept" [routerLink]="['/concept/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Concept
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="concepts?.length === 0">
        <span>No concepts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="concepts && concepts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Conceptname</span></th>
                    <th scope="col" ><span>Video Link</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let concept of concepts ;trackBy: trackId">
                    <td><a [routerLink]="['/concept', concept.id, 'view']">{{ concept.id }}</a></td>
                    <td>{{ concept.conceptname }}</td>
                    <td>
                        <span *ngFor="let videoLink of concept.videoLinks; let last = last">
                            <a class="form-control-static" [routerLink]="['/video-link', videoLink?.id, 'view']">{{ videoLink.classlink }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/concept', concept.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/concept', concept.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(concept)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
