<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="student">
            <h2><span>Student</span> {{ student.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span ngbTooltip="The firstname attribute.">User Name</span></dt>
                <dd>
                    <span>{{ student.userName }}</span>
                </dd>
                <dt><span>Full Name</span></dt>
                <dd>
                    <span>{{ student.fullName }}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{ student.email }}</span>
                </dd>
                <dt><span>Phone Number</span></dt>
                <dd>
                    <span>{{ student.phoneNumber }}</span>
                </dd>
                <dt><span>Joindate</span></dt>
                <dd>
                    <span>{{ student.joindate }}</span>
                </dd>
                <dt><span>Class Number</span></dt>
                <dd>
                    <span>{{ student.classNumber }}</span>
                </dd>
                <dt><span>My Videos</span></dt>
                <dd>
                    <span *ngFor="let myVideos of student.myVideos; let last = last">
                        <a [routerLink]="['/my-videos', myVideos?.id, 'view']">{{ myVideos.conceptname }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/student', student.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
